<main style="margin-left: 80px;">
    <div style="padding: 30px 0px 0px 30px;">
        <div class="tab-header">
            <div class="header-box">
                <div class="tab-heading">Create Workspace</div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row pt-4">
                                <label class="control-label col-sm-3" for="cname">POC Name<sup>*</sup></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="username" placeholder="POC Name">
                                </div>
                            </div>

                            <div class="row pt-4">
                                <label class="control-label col-sm-3" for="acname">POC
                                    Description<sup>*</sup></label>
                                <div class="col-sm-7">
                                    <textarea class="form-control rounded-0" id="Description" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <label class="control-label col-sm-3" for="acname"></label>
                                <button (click)="save()" class="btn button-save ml-3">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</main>