<main>
        <div id="Tab3" class="tabcontent1" style="padding: 30px 0px 0px 30px;">
            <div class="tab-header">
                <div class="header-box">
                    <div class="tab-heading">Workspace Summary</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="ft-18">POC Name</label>
                        <p class="ft-color-gray80">Bhawan Digital</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="ft-18 ">Date Created</label>
                        <p class="ft-color-gray80">January 30, 2020</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="ft-18">Status</label>
                        <p class="ft-color-gray80">To be completed</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-box">
                            <button class="btn button-save ml-3">View Story Board</button>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-3">
                        <label class="ft-18">Team Members</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="ft-18 ">Role</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="ft-18">Last Login</label>
                    </div>
                    <div class="col-sm-3">
                        <img class="pull-right" src="assets/images/enlarge-icon.PNG">
                    </div>
                </div>

                <div class="bg-white mr-5 border mt-2">
                    <div class="row pt-3 pb-3">

                        <div class="col-sm-3 align-content-center">
                            <img class="pl-4" src="assets/images/member.PNG"><span>Benjamin</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="pl-3 pt-2">Database Manager</span>
                        </div>
                        <div class="col-sm-3 align-content-center">
                            <span class="pl-4 pt-2">04/13/2020 17:15 PM</span>
                        </div>
                        <div class="col-sm-3 align-content-center">

                        </div>
                    </div>
                </div>
                <div class="bg-white mr-5 border mt-2">
                    <div class="row pt-3 pb-3">

                        <div class="col-sm-3 align-content-center">
                            <img class="pl-4" src="assets/images/member.PNG"><span>Benjamin</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="pl-3 pt-2">Database Manager</span>
                        </div>
                        <div class="col-sm-3 align-content-center">
                            <span class="pl-4 pt-2">04/13/2020 17:15 PM</span>
                        </div>
                        <div class="col-sm-3 align-content-center">

                        </div>
                    </div>
                </div>
                <div class="bg-white mr-5 border mt-2">
                    <div class="row pt-3 pb-3">

                        <div class="col-sm-3 align-content-center">
                            <img class="pl-4" src="assets/images/member.PNG"><span>Benjamin</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="pl-3 pt-2">Database Manager</span>
                        </div>
                        <div class="col-sm-3 align-content-center">
                            <span class="pl-4 pt-2">04/13/2020 17:15 PM</span>
                        </div>
                        <div class="col-sm-3 align-content-center">

                        </div>
                    </div>
                </div>

                <table id="milestone" class="table mt-5">
                    <thead>
                        <tr>
                            <th>Milestone</th>
                            <th>Start Date </th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th> <img class="pull-right" src="assets/images/enlarge-icon.PNG"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-trasparent  mb-3">
                            <td>Milestones</td>

                            <td>January 30, 2020</td>

                            <td>January 30, 2020</td>

                            <td><span class="badge-status badge-working width-100">Working on it</span></td>
                            <td><span class="badge-status badge-working bg-gray">view</span></td>
                        </tr>

                        <tr class="bg-trasparent pb-3">
                            <td>Milestones</td>

                            <td>January 30, 2020</td>

                            <td>January 30, 2020</td>

                            <td><span class="badge-status pl-4 pr-5">Disabled</span></td>

                            <td><span class="badge-status badge-working bg-gray">view</span></td>
                        </tr>

                        <tr class="bg-trasparent  pb-3">
                            <td>Milestones</td>

                            <td>January 30, 2020</td>

                            <td>January 30, 2020</td>

                            <td><span class="badge-status badge-working width-100">Working on it</span></td>
                            <td><span class="badge-status badge-working bg-gray">view</span></td>
                        </tr>

                    </tbody>
                </table>

                <table id="example" class="table mt-5">
                    <thead>
                        <tr>
                            <th>Amount Estimated</th>
                            <th>Account Balance</th>
                            <th>Remaining Payments</th>
                            <th>Total Payments made</th>
                            <th>&nbsp;</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-trasparent border-bottom pb-3 ">
                            <td><span class="ft-28">$3,500</span></td>

                            <td><span class="ft-28">$1,750</span></td>

                            <td><span class="ft-28">$1,50</span></td>

                            <td><span class="ft-28">$6,000</span></td>
                            <td><button class="btn button-save">Add Money</button></td>
                        </tr>
                    </tbody>
                </table>
                <hr>

                <table id="delvery" class="table mt-5 mb-5">
                    <thead>
                        <tr class="border-bottom pb-3">
                            <th>Deliverable Item</th>
                            <th>Task</th>
                            <th>% of Task Effort</th>
                            <th>Effort Estimate (Hours)</th>
                            <th>&nbsp;</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-trasparent  ">
                            <th>Deliverable Detailed Design Document</th>
                            <th>Design</th>
                            <th>60%</th>
                            <th>40 Hrs</th>
                            <th>&nbsp;</th>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</main>