<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="/workspace/createworkspace">
                <img src="assets/images/menu-icons/main-menu1.png">
            </a>
        </li>
        <li>
            <a (click)="view('w1')" class="active">
                <img src="assets/images/menu-icons/main-menu2.png">
            </a>
        </li>
        <li>
            <a (click)="view('w2')">
                <img src="assets/images/menu-icons/main-menu3.png">
            </a>
        </li>
        <li>
            <a (click)="view('w3')">
                <img src="assets/images/menu-icons/main-menu4.png">
            </a>
        </li>
        <li>
            <a (click)="view('w4')">
                <img src="assets/images/menu-icons/main-menu5.png">
            </a>
        </li>
    </ul>

</nav>