
<nav class="main-menu sub-menu">
    <ul>
        <li>
            <a routerLink="/workspace/view/{{subNav}}/summary">
                <img src="assets/images/menu-icons/sub-menu1.png">
            </a>
        </li>
        <li>
            <a routerLink="/workspace/view/{{subNav}}/phase/initial-requirment" class="active">
                <img src="assets/images/menu-icons/sub-menu5.png">
            </a>
        </li>
        <li>
            <a routerLink="/workspace/view/{{subNav}}/team">
                <img src="assets/images/menu-icons/sub-menu1.png">
            </a>
        </li>
        
        <li>
            <a routerLink="/workspace/view/{{subNav}}/documents">
                <img src="assets/images/menu-icons/sub-menu2.png">
            </a>
        </li>
        <li>
            <a routerLink="/workspace/view/{{subNav}}/milestones">
                <img src="assets/images/menu-icons/sub-menu3.png">
            </a>
        </li>
        
        
        <li>
            <a routerLink="/workspace/view/{{subNav}}/financials">
                <img src="assets/images/menu-icons/sub-menu6.png">
            </a>
        </li>
    </ul>
</nav>