<div id="Tab3" class="tabcontent">
    <div class="tab-header">
        <div class="tab-heading">Prototype</div>
        <div class="col-sm-12">
            <label class="mr-5">Adobe XD link</label><a href="">https://xd.adobe.com/view/2ba9a865-dcdd-40ff-b0d2-6afa6d0e273e-7efa/</a><button class="btn button-save ml-5">Save</button>
        </div>
    
        <hr>
        <div class="row">
            <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="row pt-4">
                    <label class="control-label col-sm-3" for="cname">Enter email address</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control bg-white" id="username" placeholder="Enter email address">
                    </div>
                </div>
                <div class="row pt-4">
                    <label class="control-label col-sm-3" for="acname">Enter password</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control bg-white" id="acname" placeholder="Enter password">
                    </div>
                </div>
                <div class="row pt-4">
                    <label class="control-label col-sm-3" for="acname"></label>
                    <button class="btn button-save ml-3">Login</button>
                </div>

                <div class="row pt-4">
                    <label class="control-label col-sm-3" for="acname"></label>
                    <a href="" class="ml-3">FORGOT PASSWORD?</a>  <label class="control-label ml-3 pt-0" for="acname">|</label> <a href="" class="ml-3"> NOT A MEMBER YET? REGISTER NOW</a>
                </div>

                </div>
            </form>
        </div>
    </div>
    <hr>

    <div class="clear-float"></div>
    <div class="review-container">
        <div class="heading">Request Review</div>
        <div class="row">
            <div class="col-sm-3 pr-0">
                <div class="form-group">
                    <select class="form-control">
                    <option>Reviewer Name</option>
                    <option>Reviewer 1</option>
                    <option>Reviewer 2</option>
                    <option>Reviewer 3</option>
                    <option>Reviewer 4</option>
                    </select>
                </div>
            </div>			
            <div class="col-sm-2 pl-10 pb-20">
                <button class="btn btn-outline-purple">Select</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-outline btn-close">Reviewer 1<img src="assets/images/btn-close.png"></button>
                <button class="btn btn-outline btn-close">Reviewer 2<img src="assets/images/btn-close.png"></button>
                <button class="btn btn-outline btn-close">Reviewer 3<img src="assets/images/btn-close.png"></button>
                <button class="btn btn-outline btn-close">Reviewer 4<img src="assets/images/btn-close.png"></button>
                <button class="btn btn-outline-purple">Request Review</button>
            </div>
        </div>
    </div>


    <div class="heading">Comments Received</div>
    <table id="example" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Reviewer</th>
                <th>Comments</th>
                <th>Accept</th>
                <th>Reject</th>
                <th>Assigned to</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dec 25, 2020</td>
                <td><span class="badge-reviewer"><img src="assets/images/review.png"> Reviewer 1</span></td>
                <td>Lorem adipiscing elit ...</td>
                <td><span class="badge badge-accepted">Accepted</span></td>
                <td><span class="badge">Reject</span></td>
                <td>Developer 1</td>
                <td class="badge-status badge-working"><span>Working on it</span></td>
            </tr>
            <tr>
                <td>Nov 10, 2020</td>
                <td><span class="badge-reviewer"><img src="assets/images/review.png"> Reviewer 2</span></td>
                <td>Lorem ipsum dolor sit amet,</td>
                <td><span class="badge">Accept</span></td>
                <td><span class="badge badge-rejected">Rejected</span></td>
                <td>Developer 2</td>
                <td class="badge-status badge-done"><span>Done</span></td>
            </tr>
            <tr>
                <td>Apl, 05 2020</td>
                <td><span class="badge-reviewer"><img src="assets/images/review.png"> Reviewer 3</span></td>
                <td>um dolor sit amet, adipiscing elit ...</td>
                <td><span class="badge badge-accepted">Accepted</span></td>
                <td><span class="badge">Reject</span></td>
                <td>Developer 3</td>
                <td class="badge-status badge-stuck"><span>Stuck</span></td>
            </tr>
            <tr>
                <td>Nov 01, 2020</td>
                <td><span class="badge-reviewer"><img src="assets/images/review.png"> Reviewer 4</span></td>
                <td>Lorem  adipiscing elit ...</td>
                <td><span class="badge">Accept</span></td>
                <td><span class="badge badge-rejected">Rejected</span></td>
                <td>Developer 4</td>
                <td class="badge-status"><span>Default</span></td>
            </tr>
        </tbody>
    </table>



    

  </div>