<main>
    <div id="Tab3" class="tabcontent1" style="padding: 30px 0px 0px 30px;">
		<div class="tab-header">
			<div class="tab-heading">Manage Team</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-outline-purple">Add Internal Resource</button>
				<button class="btn btn-outline-purple">Add External Resource</button>
				<button class="btn btn-outline-purple">Configure Access Rights</button>
			</div>
		</div>
		<hr>

		<div  style="margin-right: 30px;">
		<table id="example" class="table">
			<thead>
				<tr>
					<th>Resource</th>
					<th>Type</th>
					<th>Role</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Requirement Gathering</td>
					<td class="badge-status badge-internal"><span>Internal</span></td>
					<td>Requirement Gathering</td>
					<td class="badge-status badge-working"><span>Working on it</span></td>
				</tr>
				<tr>
					<td>Process Flow</td>
					<td class="badge-status badge-external"><span>External</span></td>
					<td>Process Flow</td>
					<td class="badge-status badge-done"><span>Done</span></td>
				</tr>
				<tr>
					<td>Information Architecture</td>
					<td class="badge-status badge-internal"><span>Internal</span></td>
					<td>Information Architecture</td>
					<td class="badge-status badge-stuck"><span>Stuck</span></td>
				</tr>
				<tr>
					<td>Milestones</td>
					<td class="badge-status badge-external"><span>External</span></td>
					<td>Milestones</td>
					<td class="badge-status"><span>Default</span></td>
				</tr>
			</tbody>
		</table>

		<div class="heading">External Resources - In Hiring Process</div>

		<table id="example" class="table">
			<thead>
				<tr>
					<th>Resource</th>
					<th>Initial Communication Date</th>
					<th>Quote Amount</th>
					<th>Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Requirement Gathering</td>
					<td>Internal</td>
					<td>Requirement Gathering</td>
					<td class="badge-status badge-discussion"><span>Discussion</span></td>
				</tr>
				<tr>
					<td>Process Flow</td>
					<td>External</td>
					<td>Process Flow</td>
					<td class="badge-status badge-quote-negotiation"><span>Quote Negotiation</span></td>
				</tr>
				<tr>
					<td>Information Architecture</td>
					<td>Internal</td>
					<td>Information Architecture</td>
					<td class="badge-status badge-quote-acceptance"><span>Quote Acceptance</span></td>
				</tr>
				<tr>
					<td>Milestones</td>
					<td>External</td>
					<td>Milestones</td>
					<td class="badge-status badge-discussion"><span>Discussion</span></td>
				</tr>
			</tbody>
		</table>

	
	</div>

	  </div>
</main>