<app-work-space-sub-nav></app-work-space-sub-nav>
<main>
  <div class="tab-container" style="border-radius: 0px !important;">
    <div class="tab">
      <div class="tab-heading"><img src="assets/images/tab-heading-icon.png"><span>Workspace1</span><img
          src="assets/images/back-icon.png"></div>
      <!--
          <a routerLink="summary"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Summary</div>
        </button></a>
      -->
      <a routerLink="initial-requirment"><button class="tablinks">
          <!-- <a routerLink="requirment-gathering"><button class="tablinks completed"> -->
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Initial Requirment</div>
        </button></a>
      <a routerLink="process-flow"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Process Flow</div>
        </button></a>
      <a routerLink="information-architecture"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Information Architecture</div>
        </button></a>
      <a routerLink="wireframe"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Wireframe</div>
        </button></a>
      <a routerLink="prototype"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Prototype</div>
        </button></a>
      <a routerLink="poc-review"> <button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">POC Review</div>
        </button></a>
        <!--
      <a routerLink="navigatable-prototype"> <button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Navigatable Prototype</div>
        </button></a>
        -->
      <a routerLink="development-document"> <button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Development Document</div>
        </button></a>
      <!--
      <a routerLink="estimate"> <button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Estimate</div>
        </button></a>
      <a routerLink="review"> <button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Estimate Review</div>
        </button></a>
      <a routerLink="publish"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Publish</div>
        </button></a>
      <a routerLink="close"><button class="tablinks">
          <div class="completed-icon"><img src="assets/images/completed-icon.png"></div>
          <div class="completed-item">Close</div>
        </button></a>
        -->
    </div>


    <router-outlet></router-outlet>

  </div>
</main>
