<div id="Tab3" class="tabcontent">
    <div class="tab-header">
      <div class="tab-heading">Initial Requirements</div>
  
  
      <hr>
      <div class="row pt-4">
        <div class="col-sm-10 mb-5">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="row pt-3 pl-3">
                <label class="control-label" for="statement">Problem Statement<sup>*</sup></label>
                <div class="col-sm-4">
                    <textarea class="form-control rounded-0 bg-white" formControlName="statement" id="Description" rows="3"></textarea>
                </div>
                <label class="control-label" for="cname">Your Solution<sup>*</sup></label>
                <div class="col-sm-4">
                    <textarea class="form-control rounded-0 bg-white" formControlName="desc" id="Description" rows="3"></textarea>
                </div>
            </div>
            </div>

        </form>
    </div>

    </div>
    <div class="clear-float"></div>
      <hr>
      <div class="col-sm-12">
        <table id="example" class="table roles">
			<thead>
				<tr>
					<th>Roles</th>
					<th>Problems</th>
					<th>Solution</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dec 25, 2020</td>				
					<td>Requirement Gathering</td>
                    <td>Lorem ipsum dolor sit amet,</td>
				</tr>
				<tr>
					<td>Dec 25, 2020</td>				
					<td>Requirement Gathering</td>
                    <td>Lorem ipsum dolor sit amet,</td>
				</tr>
				<tr>
					<td>Dec 25, 2020</td>				
					<td>Requirement Gathering</td>
                    <td>Lorem ipsum dolor sit amet,</td>
				</tr>
				<tr>
					<td>Dec 25, 2020</td>				
					<td>Requirement Gathering</td>
                    <td>Lorem ipsum dolor sit amet,</td>
				</tr>
				<tr>
					<td>Dec 25, 2020</td>				
					<td>Requirement Gathering</td>
                    <td>Lorem ipsum dolor sit amet,</td>
				</tr>
				<tr>
					<td>Dec 25, 2020</td>				
					<td>Requirement Gathering</td>
                    <td>Lorem ipsum dolor sit amet,</td>
				</tr>
			</tbody>
		</table>
    </div>
   
        <div class="clear-float"></div>
  
  
    </div>
  </div>
  