<div id="main-wrapper">

    <!-- Content body start -->
    <div class="content-body-login">
        <div class="container-fluid">
         <div class="row">
          <!-- Left Column Start -->
          <div class="col-md-8 login_bg">

           
            </div>
             <!-- Left Column End  -->

             <!-- Right Column Start -->
            <div class="col-md-3 login_block">
             <div class="login_logo">
                <img src="assets/images/logo.png" alt="logo" />
             </div>


             <h4>Sign In</h4>

             <div class="Social_links2">
                 <label>Connect With</label>
                <ul id="animationSandbox">
                    <li class="fb"><a href="#">Fb</a></li> 
                    <li class="twit"><a href="#">twitter</a></li> 
                    <li class="ins"><a href="#">instagram</a></li>
                    <li class="ggl"><a href="#">google</a></li>
                </ul>   
             </div>
          
            <div class="login_form">
                <div class="log_line"><p>or</p></div>
             <form  action="signin_verification.html" id="Login">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Phone Number / Email Address">
                    <a href="signin_forgot_email.html">Forgot Email?</a>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    <a href="signin_forgot_password.html">Forgot password?</a>
                </div>
                <div class="captcha">
                        <img src="assets/images/captcha.png" alt="captcha" />
                </div>
            
                    <button type="submit" class="btn btn-info">Sign In</button>

                </form>

                <div class="acc_link">
                    Need an Account? <a href="signup.html">Sign Up</a>
                </div>
                
            </div>

            </div>
             <!-- Right Column End -->

         </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--Content body end-->
   
</div>
<!--Main wrapper end-->